.vodka{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.vodka_card{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#000, #000, #000, #000, #fe000498);    
    margin-top: 40px;
    border-radius: 30px;
    position: relative;
}
.vodka_card h2 {
    color: #eee;
    margin-top: 10px;
}
.vodka_card b{
    color: #c3c2c2;
    margin-top: 25px;
    font-size: 20px;
}
.vodka_card p{
    color: #eee;
    margin-top: 10px;
    position: absolute;
    bottom: 25px;
    right: 10px;
}
.vodka_card img{
    object-fit: cover;
}

@media screen and (max-width:900px){
    .vodka{
        flex-direction: column;
        margin-top: 40px;
    }
}